name: Wheels

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      CIBW_TEST_COMMAND: python -c "import numcodecs"
      CIBW_SKIP: "pp* cp36-* *-musllinux_* *win32 *_i686 *_s390x"
      CIBW_ARCHS_MACOS: 'x86_64 arm64'
      CIBW_TEST_SKIP: '*-macosx_arm64'
      # note: CIBW_ENVIRONMENT is now set in pyproject.toml
      
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: pypa/cibuildwheel@v2.14.1

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.9'

      - name: Build sdist
        run: pipx run build --sdist

      - name: test install
        run: pip install dist/numcodecs*.tar.gz

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  test_dist_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - name: test
        run: |
          ls
          ls dist

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          # To test: repository_url: https://test.pypi.org/legacy/
