name: Wheels

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macos-12 is an intel runner, macos-14 is a arm64 runner
        os: [ubuntu-latest, windows-latest, macos-12, macos-14]
    env:
      CIBW_TEST_COMMAND: python -c "import numcodecs"
      CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-*"
      CIBW_SKIP: "pp* *-musllinux_* *win32 *_i686 *_s390x"
      # note: CIBW_ENVIRONMENT is now set in pyproject.toml

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: pypa/cibuildwheel@v2.21.2

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.10"

      - name: Build sdist
        run: pipx run build --sdist

      - name: test install
        run: pip install dist/numcodecs*.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  test_dist_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: dist
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: test
        run: |
          ls
          ls dist

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: dist
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          # To test: repository_url: https://test.pypi.org/legacy/
